﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SensorThings API Chart Client</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/nchart.css" />
	
</head>
<body ng-app="NChart">
	
	<div class="col-lg-6 col-sm-12" id="line-chart" ng-controller="ChartCtrl">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ chartTitle }}
      </div>

      <div class="panel-body">
        <canvas id="header-canvas" width="640" height="480"></canvas>
		<div id="legend"></div>
      </div>
    </div>
  </div>
	<!--script-->
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/Chart.Core.min.js"></script>
	<script src="js/Chart.Scatter.min.js"></script>
	<script src="js/NChart.js"></script>
</body>
</html>
